<% provide(:title, "Soulster") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>News Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

	

<div class="home-group">
<div class="center">
    <%= link_to image_tag("soulstace_logo.png", alt: "Rails logo", class: "home-logo center") %>
</div>
<div class="center sign-up">
	<h4 class="tagline">The Social Network For The Mordern Age</h4>
<%= link_to "Sign up", signup_path, class: "btn btn-lg btn-primary center home-btn" %>
</div>
</div>

<% end %>